/.htaccess
/.htpasswd
/.env
/.env.*
!/.env.example
/node_modules/
/uploads/*
!/uploads/.gitignore
!/uploads/printing/
/uploads/printing/*
!/uploads/printing/.gitignore
/config/.env
/config/db.local.php
/config/google.local.php
/config/mail.local.php
/logs/*.log
/mail_error.log
